<!-- <ul>
  <li><a routerLink="cambioDolar">ir a CAMBIO DOLAR</a></li>
  <li><a routerLink="clientes">Clientes</a></li>
  <li><a routerLink="clientes/create">Crear Clientes</a></li>
</ul> -->

<button mat-button [matMenuTriggerFor]="belowMenu">Clientes</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item routerLink="clientes">Lista Cliente</button>
  <button mat-menu-item routerLink="clientes/create">Crear Cliente</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu1">Monedas</button>
<mat-menu #belowMenu1="matMenu" yPosition="below">
  <button mat-menu-item routerLink="cambioDolar">Tipo Cambio</button> 
</mat-menu>
